In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import math

%matplotlib inline

##### 1. Generate 20 real number for the variable X from the uniform distribution U[0,1]

In [ ]:
uniform_dist_numbers = np.random.uniform(size=20)
print(f'20 Real numbers between [0,1] Uniformly distributed: \n{uniform_dist_numbers}')

20 Real numbers between [0,1] Uniformly distributed:
[0.53774772 0.44856486 0.17689655 0.14787633 0.00985111 0.58165374
 0.32719619 0.74362535 0.72274636 0.39386362 0.11135695 0.69631898
 0.58643617 0.35271669 0.9191143  0.04745827 0.61335774 0.4749796
 0.86319706 0.17123092]

##### 2. Construct the training set T = { (x 1 ,y 1 ),(x 2 ,y 2 ),……,(x 20 ,y 20 )} using the  relation $Y_{i}$ = sin(2 π $x_{i}$ ) + $ϵ_{i}$ where  $ϵ_{i}$  ~ N(0,0.25)

In [ ]:
# create an empty set Yi
Yi=[]

# for every input as x1, x2, ... x20 from uniform_dist_numbers
# let the output be y1, y2, ... y20
for x_val in uniform_dist_numbers:
    temp_Yi = math.sin( 2 * math.pi * x_val) + np.random.uniform(0, 0.25)
    Yi.append(temp_Yi)

# create a new dataset with x and y together
dist_data = pd.DataFrame(data=(uniform_dist_numbers, Yi), index=['x', 'y'])
dist_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
x,0.537748,0.448565,0.176897,0.147876,0.009851,0.581654,0.327196,0.743625,0.722746,0.393864,0.111357,0.696319,0.586436,0.352717,0.919114,0.047458,0.613358,0.47498,0.863197,0.171231
y,-0.027101,0.501352,0.901672,1.027256,0.270555,-0.381826,1.000546,-0.961360,-0.802817,0.834478,0.831537,-0.932021,-0.507120,1.031933,-0.380425,0.408215,-0.615545,0.28555,-0.685266,1.005890

##### 3. In the similar way construct a testing set of size 50 i.e, Test =  { (x’1, y’1), (x’2, y’2), ... , (x’50, y’50)}

In [ ]:
test_uniform_dist = np.random.uniform(size=50)

test_Yi=[]

# for every input as x1, x2, ... x20 from uniform_dist_numbers
# let the output be y1, y2, ... y20
for x_test in test_uniform_dist:
    temp_Yi = math.sin( 2 * math.pi * x_test) + np.random.uniform(0, 0.25)
    test_Yi.append(temp_Yi)

# create a new dataset with x and y together
test_data = pd.DataFrame(data=(test_uniform_dist, test_Yi), index=['x', 'y'])
test_data

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
x,0.333527,0.102838,0.669579,0.552201,0.395806,0.721176,0.176871,0.770846,0.768054,0.231561,...,0.632448,0.713646,0.372251,0.603617,0.418235,0.476615,0.810537,0.081817,0.921648,0.711112
y,0.891507,0.681449,-0.840920,-0.231371,0.755952,-0.878341,1.089748,-0.905943,-0.845281,1.006097,...,-0.701818,-0.750118,0.735324,-0.440495,0.529999,0.343063,-0.799527,0.649959,-0.261832,-0.874171